<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= t('global.navbar.alzahidi_company') %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><%= t('global.navbar.home') %></a>
        </li>
        <li class="nav-item">
           <%= link_to t('global.navbar.products'), posts_path(post_type: "products"), class: "nav-link active" %>
        </li>
        <li class="nav-item">
        <%= link_to t('global.navbar.projects'), posts_path(post_type: "projects"), class: "nav-link active" %>
        </li>
        <li class="nav-item">
        <%= link_to t('global.navbar.services'), posts_path(post_type: "services"), class: "nav-link active" %>
        </li>
        <li class="nav-item">
        <%= link_to t('global.navbar.contact_us'), posts_path(post_type: "contact_us"), class: "nav-link active" %>
        </li>
        <li class="nav-item">
        <%= link_to t('global.navbar.about_us'), posts_path(post_type: "about_us"), class: "nav-link active" %>
 
        </li>
        <% if user_signed_in? && current_user.authority == "admin" %>
        <li class="nav-item">
        <%= link_to 'users', admin_users_path, class: "nav-link active" %>
 
        </li>
        <% end %>
       
          <li><%= link_to 'English', switch_locale_path(locale: :en, redirect_to: request.fullpath) %></li>
          <li><%= link_to 'Arabic', switch_locale_path(locale: :ar, redirect_to: request.fullpath) %></li>
          
       
      </ul>
    </div>
    <div>
    <% if user_signed_in? %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-outline-dark btn-sm"%>
    <% else %> 
     <%= link_to "Sign in", new_user_session_path , class:"btn btn-outline-dark btn-sm"%>
     <%= link_to "Sign up", new_user_registration_path , class:"btn btn-dark btn-sm"%>
    <% end %>
  </div>
  </div>
</nav>