<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title_ar ,class: "form-label" %>
    <%= form.text_field :title_ar , class: "form-control"%>
  </div>
  <div>
  <%= form.label :title_en,class: "form-label" %>
  <%= form.text_field :title_en , class: "form-control"%>
</div>
  <div class="field">
    <%= form.label :content_ar, class: "form-label" %>
    <%= form.rich_text_area :content_ar, class: "form-control" %>
  </div>
  <div class="field">
  <%= form.label :content_en, class: "form-label" %>
  <%= form.rich_text_area :content_en, class: "form-control" %>
</div>
  <div>
    <%= form.label :type, class: "form-label" %>
    <%= form.select :post_type, [ 'Product', 'project', 'service'] , class: "form-control" %>
  </div>

  <div>
    <%= form.label :status, class: "form-label"%>
    <%= form.select :status, [ 'draft', 'waiting', 'published'], class: "form-control" %>
  </div>
  <div class="field mb-2">
      <%= form.label :image, class: "form-label" %>
      <%= form.file_field :image, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "create post"%>
  </div>
<% end %>
