
<div >
  <div class="d-flex d-flex justify-content-between" >
    <h1 class="fs-2 mb-3"><%= t("global.post.editing")%> <%= t("global.post.#{@post.post_type}")%></h1>
    <%= link_to t("global.post.back_to_posts"), posts_path(post_type: @post.post_type), method: "get" ,class:"btn btn-outline-dark btn-sm custom-height align-self-center"%>
  </div>

  <%= render "form", post: @post %>

  <br>

  <div>
    <%= link_to t('global.post.show_this_post'), @post %> 
  </div>
</div>