<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-between">
  <h1><%= @post_type? t("global.navbar.#@post_type") : t("global.navbar.home") %></h1>
  <%= button_to 'Add New Post', new_post_path(post_type: @post_type), method: "get", class: "btn btn-primary btn-sm"%>
</div>
<div class="row">
  <% if @posts.empty? %>
        <p class="text-center fs-4"> there are no <%= @post_type %> </p>
  <% else %>
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="col-md-6 col-lg-4">
        <%= render post %>
      </div>
    <% end %>
  </div>

  <% end %>
</div>
