<p style="color: green"><%= notice %></p>
<div>  
  <%= link_to 'Back to posts', posts_path(post_type: @post.post_type), method: "get", class:"btn btn-outline-dark btn-sm me-2"%>

  <% if I18n.locale == :en %>
    <h2 class="card-title fs-3"> <%= @post.title_en.present? ? @post.title_en : @post.title_ar%></h2>
  <% else %>
    <h2 class="card-title fs-3"> <%= @post.title_ar%></h2>
  <% end %>
  <div>
    <% if @post.image.attached? %>
      <%= image_tag @post.image , alt: "cover_post", style: "width: 100%; height: 300px;", class: "object-fit-cover"%>
    <% end %> 
    </div>
  
  <span class="badge bg-success mt-2 mb-2"><%= @post.status%></span>
  <span class="badge bg-success mt-2 mb-2"><%= @post.post_type%></span>
  
  <% if I18n.locale == :en %>
    <p class="text-card"><%= @post.content_en.present? ? @post.content_en : @post.content_ar %></p>
  <% else %>
    <p class="text-card"><%= @post.content_ar %></p>
  <% end %> 
  <div class="d-flex">
    <%= button_to t('global.post.published_this_post'), change_status_post_path(id: @post.id, status: "published"), method: "patch" %> |
    <%= link_to t('global.post.edit'), edit_post_path(id: @post.id, post_type: @post.post_type), method: "get" , class: "btn btn-primary btn-sm me-2" %> |
    <%= button_to t('global.post.delete'), @post, method: "delete", data: {turbo_confirm: 'Are you sure? '}, class: "btn btn-danger btn-sm" %>
  </div>
</div>